go 1.21.4

use (
    ./code_loading/load_dll_go

    ./payloads/calc_exe
    ./payloads/benign_go_exe
    ./payloads/direct_syscall_notepad_go

    ./file_parsing/pe_parser
    
    ./anti_analysis/metadata_edit_go
    ./anti_analysis/ppid_spoofing
    ./anti_analysis/detect_dll_hooks
)